/*

Colors

#583E7F
#DEC9FF
#B07CFF
#6F647F
#8D63CC
*/

body {
  margin:0;
  font-family: 'Roboto', sans-serif;
}

.clear-floats {
  clear:both;
}

/* HEADER *****************************/
.header {
  background:#583E7F;
}

.header .logo {
  float:left;
  width:20%;
}

.header .navigation {
  float:right;
  width:80%;
  text-align:right;
}

.header a {
  color:white;
  display:inline-block;
  padding:20px 10px;
  margin:0 10px;
  text-decoration:none;
}

/* COMMON ELEMENTS ********************/
a.button {
  display:inline-block;
  background:#72687F;
  padding:10px 20px;
  border-radius:5px;
  text-decoration:none;
  color:white;
}

a.button:hover {
  background:#8D63CC;
}

/* HOME PAGE **************************/

#home-page .content {
  position:relative;
}

#home-page .hero-image {
  max-width:100%;
  position:absolute;
  top:0;
  left:0;
}

#home-page .logo-container {
  position:absolute;
  height:200px;
  top:50px;
  text-align:center;
  width:100%;
}

#home-page .logo-container img.logo {
  height:100%;
}

#home-page h1 {
  position:absolute;
  top:240px;
  left:0;
  width:100%;
  color:white;
  font-weight:100;
  text-align:center;
  font-size:2em;
}

#home-page .button-container {
  position:absolute;
  text-align:center;
  top:320px;
  width:100%;
}

#home-page h1 .emphasized {
  font-weight:normal;
}

/* FEATURES PAGE **************************/

#features-page .content .feature {
  float:left;
  width:calc(33.333333% - 80px);
  text-align:center;
  padding:0 40px;
  color:#666;
  line-height:2em;
}

#features-page .content .feature .icon img {
  height:150px;
  margin:20px 0;
}

#features-page .content .feature .title {
  font-weight:bold;
  margin:10px 0;
  font-size:1.5em;
}

#features-page .button-container {
  text-align:right;
  margin-top:20px;
  margin-right:20px;
}

/* PRICING PAGE **************************/
#pricing-page .student-pricing {
  text-align:center;
  margin:20px 0;
  color:#666;
}

#pricing-page .student-pricing .title {
  font-size:4em;
}

#pricing-page .student-pricing .subtitle {
  font-size:2em;
}

#pricing-page .school-pricing {
  margin:20px 0;
  text-align:center;
  color:#666;
}

#pricing-page .school-pricing .title {
  font-size:1em;
}

#pricing-page .school-pricing table {
  margin:10px auto;
  text-align:center;
  border-collapse:collapse;
}

#pricing-page .school-pricing table tr td {
  width:200px;
}

#pricing-page .school-pricing table tr:nth-child(even) td {
  background:#ddd;
}

#pricing-page .school-pricing table tr:nth-child(odd) td {
  background:#eee;
}

#pricing-page .school-pricing table tr.header td {
  background:#6F647F;
  color:white;
  font-size:3em;
}

#pricing-page .school-pricing table tr.header td .price-caption {
  font-size:0.25em;
}

#pricing-page .school-pricing table tr td {
  padding:10px;
}

#pricing-page .button-container {
  text-align:right;
  margin-top:20px;
  margin-right:20px;
}

/* TEAM PAGE **************************/